body {
  background-color: white;
  align-items: center;
}

.good {
  color: blue;
  font-weight: bold;
}

.bad {
  color: red;
  font-weight: bold;
}

  img {
    align-content: center;
/*    width: 150px;
    height: 225px;*/
  }
}
p.center {
  text-align: center;
}
