body {
  background-color: blue;
}

.column {
  width: 33%;
  float: left;
  text-align: center;
}

.good {
  color: blue;
  font-weight: bold;
}

.bad {
  color: red;
  font-weight: bold;
}

img {
  width: 80%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .column {
    width: 50%;
  }

  img {
    width: 150px;
    height: 225px;
  }
}

@media screen and (max-width: 376px) {
  .column {
    width: 100%;
  }

  img {
    width: 80%;
    height: auto;
  }
}
