p:not(.intro) {
  font-size: 21px;
  text-align: justify;
  font-weight: 200;
}
.margins {
  margin-left: 60px;
  margin-right: 60px;
}
body {
  background-color: #3380CC;
}
img {
  width: 500px;

  border-color: gray;
}
.evil {
  background-color: #A64D4D;
}
